:root {
  --mainColor: #00c2e1;
  --secondaryColor: rgb(136, 136, 136);
  --secondaryBlack: #000000;
  --mainBlack: #000000;
  --CardBg: #101010;
  --Red: #eb3737;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
  /* height: 100%;
  width: 100%; */
}

#root {
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
